<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PC Price Predictor</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script defer src="/static/script.js"></script>
</head>
<body>
    <div class="container">
        <h2>Build My PC</h2>
        <label for="budget">Budget:</label>
        <input type="number" id="budget" placeholder="Enter budget">
        
        <label for="use_case">Use Case:</label>
        <select id="use_case">
            <option value="gaming">Gaming</option>
            <option value="editing">Content Creation</option>
            <option value="workstation">Workstation</option>
            <option value="software_developement">Software Developement</option>
            <option value="casual">Casual</option>
        </select>
        
        <label for="category">Category:</label>
        <select id="category">
            <option value="desktop">Desktop</option>
            <option value="laptop">Laptop</option>
        </select>
        
        <button onclick="predictPC()">Predict</button>
        <h3>Result:</h3>
        <pre id="result"></pre>
    </div>
</body>
</html>